* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* 全局样式覆盖 */
/* :root {
  --active-color: "#e9f4ff";
  --bg-color: "#545c64";
  --text-color: "#fff";
} */
