/* 定义全局样式变量 */
$graye: #eee;
$grayd: #ddd;
$grayc: #ccc;
$grayb: #bbb;
$graya: #aaa;
$gray8: #888;
$gray6: #666;
$gray4: #444;
$gray2: #222;

$menuActiveColor:#e9f4ff;

$myRed: rgb(231, 133, 133);
$myYellow: rgb(243, 232, 148);
$myGreen: rgb(164, 197, 183);
$myBlue: rgb(184, 211, 251);
